.admin-landing-editor {
    max-width: 500px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1024px) {
      margin-left: 25rem;
    }

    @media (max-width: 768px) {
      margin-left: 10rem;
    }

    // @media (max-width: 425px) {
    //   max-width: 270px;
    //   margin-left: 4rem;
    // }

    // @media (max-width: 375px) {
    //   margin-left: 25rem;
    // }

    // @media (max-width: 320px) {
    //   margin-left: 25rem;
    // }
  
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 20px;
      font-weight: bold;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      label {
        font-weight: bold;
      }
  
      input[type="text"],
      textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
      }
  
      .preview-img {
        margin-top: 1rem;
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      button {
        background:#2196f3;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
  
        &:hover {
          background: #2195f384;
        }
      }
    }
  }
  