.sub-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    .sub-modal {
      background: white;
      padding: 20px;
      width: 400px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      text-align: center;
  
      h2 {
        margin-bottom: 15px;
      }

  
      form {
        display: flex;
        flex-direction: column;
  
        label {
          font-weight: bold;
          margin-bottom: 5px;
          text-align: left;
        }
  
        input,
        textarea {
          padding: 8px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
        }
  
        textarea {
          height: 100px; // Set default height
          resize: vertical; // Allow vertical resizing
          overflow-y: auto; // Enable scroll if content overflows
        }

        select {
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
          width: 100%;
          background-color: #fff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          
          &:focus {
              border-color: #007bff;
              box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
              outline: none;
          }
      }
  
        .sub-modal-actions {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
  
          .sub-submit-btn {
            background-color: #28a745;
            color: white;
            padding: 8px 15px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
  
            &:hover {
              background-color: #218838;
            }
          }
  
          .sub-close-btn {
            background-color: #dc3545;
            color: white;
            padding: 8px 15px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
  
            &:hover {
              background-color: #c82333;
            }
          }
        }
      }
    }
  }
  