.create-worker-container {
  width: 450px;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
  }
}

.worker-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 15px;
      margin-bottom: 5px;
      font-weight: 600;
    }

    input {
      padding: 10px 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 15px;
      transition: 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
      }
    }
  }
}

.submit-btn {
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;

  &:hover {
    background: #0056b3;
  }
}

.form-message {
  background: #e9f7ef;
  color: #2e7d32;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
.create-worker-container {
        margin-left: 20px;
    }
}