.top-navbar {
  width: 100%;
  padding: 12px 25px;
  background: #131720;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 60px;
}

.brand {
  font-size: 26px;
  font-weight: 800;
}

.nav-tabs {
  display: flex;
  gap: 20px;

  button {
    background: transparent;
    border: none;
    color: #e2e8f0;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.2s;

    &:hover {
      background: #1e293b;
      color: white;
    }
  }

  button.active.online {
    background: #3b82f6;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
  }

  button.active.offline {
<<<<<<< HEAD
    background: #6C63FF; 
    color: white;
    font-weight: 600;
    box-shadow: 0 0   }
}
@media (max-width: 768px) {
  .top-navbar {
    padding: 10px 18px;
    height: 55px;
  }

  .brand {
    font-size: 22px;
  }

  .nav-tabs {
    gap: 12px;

    button {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
}

@media (max-width: 480px) {
  .top-navbar {
    gap: 10px;
    padding: 10px 12px;
  }

  .brand {
    font-size: 20px;
    text-wrap: nowrap;
  }

  .nav-tabs {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    button {
      font-size: 10px;
      padding: 8px 10px;
    }
  }
}
=======
    background: #FF6A00;
    color: white;
    font-weight: 600;
    box-shadow: 0 0
  }
}
>>>>>>> 7406ecfdb1b496bf8f9af7b0d29d04cb3b66a3a6
