$page-bg: #131720;
$text-color: rgb(216, 211, 211);
$hover-bg: #42454c;
$scrollbar-thumb: #595d70;
$scrollbar-track: #f0f0f0;

.page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    padding-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.sidebar {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    // background-color: $page-bg;
    overflow-y: auto;
    z-index: 999;
    width: 260px;
    transition: transform 0.3s ease-in-out;

    h2 {
        margin-bottom: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &-header {
        padding: 5px 15px;
        font-size: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        color: $text-color;
    }

    &-menu {
        list-style: none;
        padding: 0 20px;

        li {
            margin-bottom: 12px;
        }
    }

    .sidebar-link {
        text-decoration: none;
        color: $text-color;
        padding: 8px;
        font-weight: 600;
        font-size: 16px;
        display: block;
        border-radius: 5px;
        transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            background-color: lighten($hover-bg, 10%);
            transform: translateX(5px);
        }

        &.active {
            background-color: $hover-bg;
            color: white;
            font-weight: bold;
        }
    }


    &-item {
        color: #eee;
        padding: 6px;
        display: block;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;

        &:hover {
            background-color: lighten($hover-bg, 15%);
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lighten($scrollbar-thumb, 10%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: darken($scrollbar-track, 10%);
    }
}

.sidebar.open {
    width: 260px;
    height: 100vh;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .searchbar {
        margin-left: 0;
        width: 100%;
    }

    .sidebar {
        // transform: translateX(-100%);
        // opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &.open {
            transform: translateX(0);
            opacity: 1;
        }
    }
}