
.product-header {
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.3s ease-in-out;
  height: 100px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: #f0f0f0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px); 
    z-index: -1;
  }

  &.scrolled {
    height: 100px;
    background-image: none !important; 
    background: #fff;
    opacity: 1;
    z-index: 3000;
    box-shadow: 0 2px 8px rgba(175, 54, 54, 0.1);
  }

  .product-title {
    color:#039ef8 ;
    font-size: 1.5rem;
    font-weight: bold;
    transition: font-size 0.3s ease-in-out;

    .scrolled & {
      font-size: 1.2rem;
    }
  }

  .button-group {
    display: flex;
    gap: 10px;

    button {
      padding: 6px 14px;
      border: 1px solid #039ef8;
      color: white;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      border-radius: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        background: #4EB7F5;
        color: white;
      }
    }

    .save-btn {
      background: #039ef8;
    }

    .cancel-btn {
      background: #fff;
      color: #039ef8;
    }
  }

  .product-input {
    font-size: 1.5rem;
    font-weight: bold;
    color: #039ef8;
    border: none;
    background: transparent;
    outline: none;
    width: 50%;

    &:focus {
      // border-color: rgb(0, 149, 255);
      // box-shadow: 0px 0px 5px  rgb(0, 149, 255);
      border-bottom: 2px solid #039ef8;;
    }
}
}