.seo-section {
    background: #f8f9fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  
    h2 {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      font-weight: 400;
      margin: 10px 0 5px;
    }
  
    input, textarea {
      width: 94%;
      padding: 8px;
      border: 1px solid rgb(0, 149, 255);
      border-radius: 4px;
      font-size: 14px;
      &:focus {
        border-color: rgb(0, 149, 255);
        outline: none;
        box-shadow: 0px 0px 5px  rgb(0, 149, 255);
      }

    }

    textarea {
      resize: vertical;
    }

    .tags-input {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid rgb(0, 149, 255);
      padding: 5px;
      border-radius: 4px;
      min-height: 40px;
      width: 95%;
      cursor: text;
      background: white;
      &:focus {
        border-color: rgb(0, 149, 255);
        outline: none;
        box-shadow: 0px 0px 5px  rgb(0, 149, 255);
      }
      .tag {
        background: #007bff;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin: 5px;
        display: flex;
        align-items: center;
        
        button {
          background: none;
          border: none;
          color: white;
          font-size: 16px;
          margin-left: 5px;
          cursor: pointer;
        }
      }
      
      input {
        border: none;
        outline: none;
        flex: 1;
        padding: 5px;
      }
    }
}
@media (max-width:1024px) {
  .seo-section {
max-width: 100% !important;
}
}